In [6]:
import FinanceDataReader as fdr
import pandas as pd
import numpy as np

In [7]:
fdr.__version__

'0.9.50'

In [8]:
# 한국 거래소 자료 가져오기 
krx = fdr.StockListing('KRX')
krx

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,71600,1,300,0.42,72000,72200,71600,12237714,879361407400,428630387090000,5969782550,STK
1,373220,KR7373220003,LG에너지솔루션,KOSPI,,563000,2,-6000,-1.05,570000,574000,561000,175137,98966277000,131742000000000,234000000,STK
2,000660,KR7000660001,SK하이닉스,KOSPI,,113600,2,-400,-0.35,114000,115200,112500,2947752,334408443400,82555468191000,728002365,STK
3,207940,KR7207940008,삼성바이오로직스,KOSPI,,747000,2,-9000,-1.19,760000,762000,746000,67577,50738487000,53166978000000,71174000,STK
4,051910,KR7051910008,LG화학,KOSPI,,709000,2,-12000,-1.66,723000,723000,706000,161846,115013870000,50191155873000,70592343,STK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2722,245450,KR7245450002,씨앤에스링크,KONEX,일반기업부,1598,3,0,0.00,1598,1598,1598,1,1598,2524776080,1579960,KNX
2723,288490,KR7288490006,나라소프트,KONEX,일반기업부,51,3,0,0.00,50,51,49,14352,712501,1945497000,38147000,KNX
2724,322190,KR7322190000,베른,KONEX,일반기업부,194,2,-11,-5.37,200,209,175,493,94845,1731488218,8925197,KNX
2725,000547,KR7000542001,흥국화재2우B,KOSPI,,10500,2,-2180,-17.19,12600,14200,10310,97104,1187643100,1583616000,153600,STK
2726,308700,KR7308700004,테크엔,KONEX,일반기업부,336,4,43,14.68,336,336,300,2345,786949,1344000000,4000000,KNX

In [9]:
# 한국 거래소 주식 종목별 자료 가져오기 
stock_info = ['뷰노', '에스에너지', '셀바스AI']
krx[krx['Name'].isin(stock_info)]

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
509,108860,KR7108860008,셀바스AI,KOSDAQ,벤처기업부,17900,1,190,1.07,17730,18560,17460,723672,13133116770,405634885200,22510260,KSQ
525,338220,KR7338220007,뷰노,KOSDAQ,기술성장기업부,34250,1,1350,4.10,33500,37650,33100,2309242,81586872700,390634315200,11422056,KSQ
2195,095910,KR7095910006,에스에너지,KOSDAQ,중견기업부,2655,2,-75,-2.75,2745,2745,2650,107076,286217850,51881977980,19504503,KSQ

In [10]:
# kospi 지수 가져오기_일자별 확인가능
kospi = fdr.DataReader('KS11')
kospi

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1996-12-11,705.989990,709.479980,704.429993,704.679993,704.679993,28000.0
1996-12-12,705.109985,706.010010,688.739990,689.380005,689.380005,25900.0
1996-12-13,690.440002,695.719971,677.640015,689.070007,689.070007,26500.0
1996-12-16,686.969971,686.969971,667.710022,673.919983,673.919983,22800.0
1996-12-17,675.349976,680.090027,660.390015,663.349976,663.349976,31600.0
...,...,...,...,...,...,...
2023-06-19,2618.060059,2619.439941,2600.489990,2609.500000,2609.500000,708800.0
2023-06-20,2602.830078,2610.030029,2596.820068,2604.909912,2604.909912,715800.0
2023-06-21,2599.189941,2600.969971,2579.520020,2582.629883,2582.629883,655400.0
2023-06-22,2575.649902,2597.760010,2575.649902,2593.699951,2593.699951,610200.0
2023-06-23,2599.040039,2600.810059,2568.070068,2572.540039,2572.540039,496918.0

In [11]:
# 코스닥 지수 전체 데이터 가져오기_일자별 확인가능
kosdaq = fdr.DataReader('KQ11')
kosdaq

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2000-10-16,858.500000,873.900024,851.299988,867.099976,867.099976,193900.0
2000-10-17,849.599976,860.099976,791.099976,804.000000,804.000000,218200.0
2000-10-18,788.500000,811.400024,758.200012,802.599976,802.599976,241000.0
2000-10-19,793.599976,820.400024,786.900024,798.400024,798.400024,204500.0
2000-10-20,834.700012,840.900024,822.500000,826.200012,826.200012,221900.0
...,...,...,...,...,...,...
2023-06-19,888.520020,889.489990,881.140015,888.609985,888.609985,1200.0
2023-06-20,886.469971,891.000000,883.090027,886.409973,886.409973,1300.0
2023-06-21,887.260010,890.940002,875.330017,875.700012,875.700012,1200.0
2023-06-22,870.789978,880.119995,869.789978,876.380005,876.380005,1300.0
2023-06-23,880.369995,880.460022,872.280029,874.940002,874.940002,1230462.0

In [12]:
# 데이터 저장 하기 
krx.to_csv('KRX2_data.csv')
kospi.to_csv('KOSPI_data.csv')
kosdaq.to_csv('KOSDAQ_data.csv')